*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Motosan ;
    src: url("/Resources/PPObjectSans-Heavy.otf") format("opentype");
}

@font-face {
    font-family: Motosan-slant ;
    src: url("/Resources/PPObjectSans-HeavySlanted.otf") format("opentype");
}


.main-container{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}

.head{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding-top:40px ;
    color: rgb(82, 77, 77);
}
 
.head>a>li{
    list-style: none;
}

a{
background-color: transparent;
    color:black;
    text-decoration: none;
}

/* a:visited{
    color:gray;
    background-color: transparent;
    text-decoration: none;
}  */




.content-box{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Motosan-slant";
    background-image:url(Resources/bree-anne-m7F6iPPYlag-unsplash.jpg) ;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.texts{
    text-transform: uppercase;
    font-size: 35px;
    font-family: "Motosan";
    margin-bottom: 10px;
    font-weight: 400;
}

h1{
    line-height: 160px;
    font-size: 200px;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding-top:40px ;
    color: rgb(82, 77, 77); 
}